* {
    margin: 0;
    padding: 0;
}

header{
    background-color: black;
    color: aliceblue;
    margin: 0px;
    padding: 40px 0px;
    text-align: center;
}

#titulo{
    font-size: 50px;
}

header h1, #autor{
    font-family: 'passion one';
}

header p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75%;
}

header p, div{
    display: inline-block;
    gap: 10px;
}

main{
    margin: 0px;
    padding: 0px;}

main p{
    font-family: 'sriracha';
    margin: 30px 20px;
    font-size: 2vw;
}

.imagem_fundo{
    background-position: left center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;

    width: 100%;
    height: 100%;
    min-width: 300px;
    min-height: 300px;
    
    padding: 0px;
    margin: 0px;

    position: relative;
}

#img1{
    background-image: url(imagens/girassol.jpg);
}

#img2{
    background-image: url(imagens/papel.jpg);
}

.texto_em_img{
    background-color: rgba(0, 0, 0, 0.288);
    color: aliceblue;
    position: absolute;
    margin: 10px 0px;
    padding: 0px;
}

.texto_em_img p{
    margin: 5px 20px;
}